<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Public Holiday</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        /* CSS untuk form */
        .centered-form {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vh;
        }

        .centered-form form {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .centered-form label {
            margin-right: 10px;
            font-weight: bold;
        }

        .centered-form input,
        .centered-form button {
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-family: 'Roboto', sans-serif;
        }

        .centered-form input[type="text"],
        .centered-form input[type="number"] {
            width: 150px;
        }

        .centered-form button {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        .centered-form button:hover {
            background-color: #45a049;
        }

        /* CSS untuk tabel */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        /* CSS untuk tombol */
        button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 4px;
            font-family: 'Roboto', sans-serif;
        }

        button:hover {
            background-color: #45a049;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        #title{
            text-align: center;
        }
    </style>
</head>
<body>
<h2 id="title">Holiday List</h2>

<div class="centered-form">
    <form method="get" action="#" th:action="@{/holiday}">
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" placeholder="Enter country code (e.g., US)" autocomplete="off" >
        <label for="year">Year:</label>
        <input type="number" id="year" name="year" placeholder="Enter year" autocomplete="off" min="0" >
        <label for="month">Month:</label>
        <input type="number" id="month" name="month" placeholder="Enter month" autocomplete="off" >
        <button type="submit">Get Holidays</button>
    </form>
</div>

<table>
    <tr>
        <th>Date</th>
        <th>Local Name</th>
        <th>Name</th>
        <th>Country Code</th>
        <th>Fixed</th>
        <th>Global</th>
        <th>Counties</th>
        <th>Launch Year</th>
        <th>Types</th>
    </tr>
    <tr th:each="holiday : ${holidays}">
        <td th:text="${holiday.date}"></td>
        <td th:text="${holiday.localName}"></td>
        <td th:text="${holiday.name}"></td>
        <td th:text="${holiday.countryCode}"></td>
        <td th:text="${holiday.fixed}"></td>
        <td th:text="${holiday.global}"></td>
        <td>
            <select th:if="${holiday.counties != null}">
                <option th:each="county : ${holiday.counties}" th:text="${county}"></option>
            </select>
            <span th:unless="${holiday.counties != null}">No counties</span>
        </td>
        <td th:text="${holiday.launchYear}"></td>
        <td>
            <select th:if="${holiday.types != null}">
                <option th:each="type : ${holiday.types}" th:text="${type}"></option>
            </select>
            <span th:unless="${holiday.types != null}">No types</span>
        </td>
    </tr>
</table>
<!-- Include jQuery and jQuery UI scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

</body>
</html>